div{
    height: 80px;
}
.g{
    background-color: gray;
    margin: 40px 10px;
}
.b{
    background-color: aquamarine;
    margin-top: 20px
}
.bl{
    background-color: black;
    margin: 10px 10px 12px 13px;
}
